---
root: true
env:
    node: true

rules:
    # Possible Errors
    comma-dangle: 0
    no-cond-assign: [2, 'except-parens']
    no-console: 1
    no-constant-condition: 2
    no-control-regex: 2
    no-debugger: 1
    no-dupe-args: 2
    no-dupe-keys: 2
    no-duplicate-case: 2
    no-empty-character-class: 2
    no-empty: 2
    no-ex-assign: 2
    no-extra-boolean-cast: 2
    no-extra-parens: [2, 'all']
    no-extra-semi: 2
    no-func-assign: 2
    no-inner-declarations: [2, 'both']
    no-invalid-regexp: 2
    no-irregular-whitespace: 2
    no-negated-in-lhs: 2
    no-obj-calls: 2
    no-regex-spaces: 2
    no-sparse-arrays: 2
    no-unreachable: 2
    use-isnan: 2
    valid-jsdoc: 0
    valid-typeof: 2
    no-unexpected-multiline: 2
    # Best Practices
    accessor-pairs: 1
    block-scoped-var: 1
    complexity: 0
    consistent-return: 1
    curly: [2, 'all']
    default-case: 1
    dot-notation: 1
    dot-location: [1, 'property']
    eqeqeq: [2, 'smart']
    guard-for-in: 1
    no-alert: 1
    no-caller: 2
    no-div-regex: 1
    no-else-return: 1
    no-empty-label: 2
    no-empty-pattern: 2
    no-eq-null: 0
    no-eval: 2
    no-extend-native: 2
    no-extra-bind: 1
    no-fallthrough: 2
    no-floating-decimal: 1
    no-implicit-coercion: [1, { boolean: true, number: true, string: true }]
    no-implied-eval: 2
    no-invalid-this: 0
    no-iterator: 2
    no-labels: 2
    no-lone-blocks: 1
    no-loop-func: 2
    no-magic-numbers: 0
    no-multi-spaces: [1, { exceptions: { Property: false } }]
    no-multi-str: 2
    no-native-reassign: 2
    no-new-func: 2
    no-new-wrappers: 2
    no-new: 1
    no-octal-escape: 2
    no-octal: 2
    no-param-reassign: 1
    no-process-env: 1
    no-proto: 2
    no-redeclare: [2, { builtinGlobals: true }]
    no-return-assign: [1, 'always']
    no-script-url: 2
    no-self-compare: 2
    no-sequences: 2
    no-throw-literal: 2
    no-unused-expressions: 1
    no-useless-call: 1
    no-useless-concat: 1
    no-void: 1
    no-warning-comments: 0
    no-with: 2
    radix: 2
    vars-on-top: 1
    wrap-iife: [1, 'outside']
    yoda: [1, 'never', { exceptRange: true }]
    # Strict Mode
    strict: [1, 'global']
    # Variables
    init-declarations: 0
    no-catch-shadow: 0
    no-delete-var: 1
    no-label-var: 1
    no-shadow-restricted-names: 2
    no-shadow: [1, { builtinGlobals: true, hoist: 'functions'}]
    no-undef-init: 1
    no-undef: [2, { typeof: true }]
    no-undefined: 1
    no-unused-vars: 1
    no-use-before-define: 1
    # Node.js
    callback-return: 1
    global-require: 1
    handle-callback-err: 1
    no-mixed-requires: [1, { grouping: true }]
    no-new-require: 1
    no-path-concat: 1
    no-process-exit: 1
    no-restricted-modules: 0
    no-sync: 0
    # Stylistic Issues
    array-bracket-spacing: [1, 'never']
    block-spacing: [1, 'always']
    brace-style: [1, '1tbs']
    camelcase: [1, { properties: 'always' }]
    comma-spacing: [1, { before: false, after: true }]
    comma-style: [1, 'last']
    computed-property-spacing: [1, 'never']
    consistent-this: [1, 'that']
    eol-last: 1
    func-names: 0
    func-style: 0
    id-length: 0
    id-match: 0
    indent: [1, 4, { SwitchCase: 1 }]
    jsx-quotes: [1, 'prefer-double']
    key-spacing: [1, { beforeColon: false, afterColon: true }]
    lines-around-comment: [1, { beforeBlockComment: true, beforeLineComment: false, allowBlockStart: true }]
    linebreak-style: [1, 'unix']
    max-nested-callbacks: 0
    new-cap: [1, { newIsCap: true, capIsNew: false }]
    new-parens: 1
    newline-after-var: 0
    no-array-constructor: 1
    no-continue: 0
    no-inline-comments: 0
    no-lonely-if: 1
    no-mixed-spaces-and-tabs: [1, 'smart-tabs']
    no-multiple-empty-lines: 0
    no-negated-condition: 1
    no-nested-ternary: 1
    no-new-object: 1
    no-restricted-syntax: 0
    no-spaced-func: 1
    no-ternary: 0
    no-trailing-spaces: 1
    no-underscore-dangle: 0
    no-unneeded-ternary: 1
    object-curly-spacing: 0
    one-var: 0
    operator-assignment: 0
    operator-linebreak: [1, 'after']
    padded-blocks: 0
    quote-props: [1, 'as-needed']
    quotes: [1, 'single', 'avoid-escape']
    require-jsdoc: 0
    semi-spacing: [1, { before: false, after: true }]
    semi: [1, 'always']
    sort-vars: 0
    space-after-keywords: [1, 'always']
    space-before-keywords: [1, 'always']
    space-before-blocks: [1, 'always']
    space-before-function-paren: [1, { anonymous: 'always', named: 'never' }]
    space-in-parens: [1, 'never']
    space-infix-ops: 1
    space-return-throw-case: 1
    space-unary-ops: [1, { words: true, nonwords: false }]
    spaced-comment: [1, 'always']
    wrap-regex: 1
